/**
 * Created by supimon on 18/July/17.
 */

@font-face {
    font-family: 'Fei';
    src:  url('fonts/FeijoaTest-MediumItalic.woff2') format('woff2'),
    url('fonts/FeijoaTest-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'NationalBook';
    src:  url('fonts/NationalTest-Book.woff2') format('woff2'),
    url('fonts/NationalTest-Book.woff') format('woff');
}
@font-face {
    font-family: 'NationalLight';
    src:  url('fonts/NationalTest-Light.woff2') format('woff2'),
    url('fonts/NationalTest-Light.woff') format('woff');
}

/* general styles */
body{
    margin: 0px;
    padding: 0px;
}
.cool-line{
    height: 1px;
}
.green{
    background-color: #005d3d;
}
.mobile-logo-holder{
    padding-top: 28px;
    padding-bottom: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    z-index: 2;
    margin: 0px;
}
.section-slider{
    display: none;
}

/* main menu section */
.parent{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    pointer-events: none;
    z-index: 3;
    font-family: 'NationalLight', Arial, sans-serif;
}
.child {
    height: 100vh;
    overflow: hidden;
}
.left{
    background-color: #005d3d;
    flex: 1;
    position: relative;
    pointer-events: all;
}
.right{
    flex-grow: 0;
    flex-shrink: 0;
}
.basis-97{
    flex-basis: 100%;
}
.basis-0{
    flex-basis: 0%;
}
.menu-holder{
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-nav-ul li{
    display: inline;
    padding: 50px ;
    color: white;
    font-size: 50px;
}

/* main site body */
.body-contents{

}
.child-section{

}

/* about section */
#mesh{
    width: 100%;
    height: 100%;
    position: absolute;
}
.child-section.about{
    position: relative;
    overflow: hidden;
}
.about-contents{
    margin-bottom: 80px;
    margin-top: 77px;
}
.mobile-logo{
    width: 22%;
    display: block;
    margin: 0 auto;
    min-width: 186px;
}
.about-contents .cool-line {
    margin: 32px 20px 20px 20px;
}
.about-contents h2{
    transform: translateY(100%);
    opacity: 0;
    font-family: 'NationalLight', Arial, sans-serif;
    color: #005d3d;
    letter-spacing: .5px;
    font-size: 26px;
    line-height: 33px;
}
.about-contents > p {
    font-family: 'NationalLight', Arial, sans-serif;
    font-size: 18px;
    position: relative;
    letter-spacing: 0.2px;
    line-height: 25px;
    transform: translateY(100%);
    opacity: 0;
}
.about-contents > h2,
.about-contents > p,
.about-title > *,
.testimonails h2,
.testimonails .slide-indicator-ul {
    margin: 20px;
}
.about-title{
    opacity: 0;
    transform: translateY(100%);
    text-align: center;
}
.about-title img{
    width: 14%;
    margin-top: 24px;
    max-width: 77px;
}
.testimonails{
    color: grey;
    margin-bottom: 40px;
}
.testimonails h2 {
    font-size: 42px;
    line-height: 13px;
    color: #005d3d;
    font-family: 'Fei', Georgia, serif;
    margin: 22px 20px 0px 20px;
}
.testimonails p {
    font-size: 14px;
    line-height: 23px;
    font-family: 'Fei', Georgia, serif;
}
.testimonails .author{
    font-size: 19px;
}
.testimonails small{
    color: #005d3d;
    font-family: 'NationalLight', Arial, sans-serif;
}
.slide-indicator-ul{
    padding: 0px;
}
.slide-indicator-ul li{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 7px;
    position: relative;
}
.slide-indicator-ul li:before{
    content: " ";
    position: absolute;
    top: 10px;
    left: 16px;
    width: 30px;
    height: 1px;
    background-color: grey;
}
.slide-indicator-ul li:last-child:before{
    width: 0px;
}
.slide-indicator-ul li a{
    display: inline-block;
    width: 7px;
    border-radius: 4px;
    height: 100%;
    background-color: grey;
}
.slide-indicator-ul li.is-active a{
    background-color: #005d3d;
}

/*company section*/
.child-section.company{
    width: auto;
}
.company-title{
    text-align: center;
    font-family: 'NationalLight', Arial, sans-serif;
    color: #005d3d;
}
.company-title h2{
    font-size: 30px;
    margin-top: 0px;
}
.company-details-item{
    padding: 0px 20px;
    position: relative;
    text-align: center;
}
.company-details-item h3{
    font-family: 'NationalBook', Arial, sans-serif;
    color: #9098a0;
    font-size: 26px;
}
.company-details-item p {
    font-family: 'NationalLight', Arial, sans-serif;
    font-size: 18px;
    color: #9098a0;
    position: relative;
    letter-spacing: 0.2px;
    line-height: 25px;
}
.company-details-item a{
    font-family: 'NationalLight', Arial, sans-serif;
    text-decoration: none;
    color: #9098a0;
    font-size: 14px;
}
.company-details-item .cool-line{
    width: 20px;
    background-color: #c5c9cd;
    display: inline-block;
}
.company-details-item .details{
    max-width: 250px;
    display: inline-block;
}
.company-details-item .logo-wrapper{
    width: 262px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 48px;
    text-align: center;
}
.company-details-item img{
    margin: 0 auto;
    display: block;
    width: 80%;
}
.company-details-item .img-100{
    width: 100%;
}
.company-details-item .img-80{
    width: 80%;
}
.company-details-item .img-70{
    width: 70%;
}

/*board section*/
.gallery-content-holder{
    display: none;
}
.child-section.board{
    background-color: #f0f0ee;
}
.gallery{
    padding: 1px 0px;
}
.gallery .title-position{
    display: none;
}
.gallery h3,
.gallery p{
    margin-left: 20px;
    margin-right: 20px;
}
.gallery h2{
    font-family: 'NationalLight', Arial, sans-serif;
    color: #005d3d;
    font-size: 30px;
    text-align: center;
}
.gallery h3{
    font-family: 'NationalBook', Arial, sans-serif;
    color: #005d3d;
    font-size: 26px;
    margin-bottom: 14px;
}
.gallery p{
    font-size: 14px;
    line-height: 23px;
    font-family: 'Fei', Georgia, serif;
    margin-top: 0px;
    margin-bottom: 6px;
}
.board .details{
    display: none;
}
.board .details > *{
    margin-left: 20px;
    margin-right: 20px;
}
.board .details h3{
    font-family: 'NationalLight', Arial, sans-serif;
    color: #005d3d;
    font-size: 26px;
    margin-top: 23.6%;
}
.board .details p{
    font-family: 'NationalLight', Arial, sans-serif;
    font-size: 18px;
    color: #404040;
    position: relative;
    letter-spacing: 0.2px;
    line-height: 25px;
}

/* customising the animate.css animations */
.flipInX{
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.flipOutX{
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.pulse{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.about-title.fadeInUp,
.about-contents h2.fadeInUp,
.about-contents p.fadeInUp{
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

/* animation classes */
.expand-menu{
    -webkit-animation-name: expandMenu;
    animation-name: expandMenu;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.collapse-menu{
    -webkit-animation-name: collapseMenu;
    animation-name: collapseMenu;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.collapse-line{
    -webkit-animation-name: collapseLine;
    animation-name: collapseLine;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* animations */
@-webkit-keyframes expandMenu {
    0% {
        flex-basis: 100%;
    }
    5% {
        flex-basis: 94%;
    }
    60% {
        flex-basis: 95.4%;
    }
    75% {
        flex-basis: 7%;
    }
    80%{
        flex-basis: 2%;
    }
    100% {
        flex-basis: 0%;
    }
}
@keyframes expandMenu {
    0% {
        flex-basis: 100%;
    }
    5% {
        flex-basis: 94%;
    }
    60% {
        flex-basis: 95.4%;
    }
    75% {
        flex-basis: 7%;
    }
    80%{
        flex-basis: 2%;
    }
    100% {
        flex-basis: 0%;
    }
}

@-webkit-keyframes collapseMenu {
    0% {
        flex-basis: 0%;
    }
    5% {
        flex-basis: 3%;
    }
    60% {
        flex-basis: 2.6%;
    }
    75% {
        flex-basis: 90%;
    }
    80%{
        flex-basis: 95%;
    }
    100% {
        flex-basis: 100%;
    }
}
@keyframes collapseMenu {
    0% {
        flex-basis: 0%;
    }
    5% {
        flex-basis: 3%;
    }
    60% {
        flex-basis: 2.6%;
    }
    75% {
        flex-basis: 90%;
    }
    80%{
        flex-basis: 95%;
    }
    100% {
        flex-basis: 100%;
    }
}

@-webkit-keyframes collapseLine {
    0% {
        width: 100%;
    }
    25% {
        width: 23%;
    }
    30% {
        width: 6%;
    }
    50% {
        width: 4%;
    }
    100% {
        width: 5%;
    }
}
@keyframes collapseLine {
    0% {
        width: 100%;
    }
    25% {
        width: 23%;
    }
    30% {
        width: 6%;
    }
    50% {
        width: 4%;
    }
    100% {
        width: 5%;
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.5, 1.5, 1.5);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

/*!
 * Mobile Menu animation
 * credits to Jesse Couch
 * https://codepen.io/designcouch/pen/Atyop
 */
#nav-icon1{
    width: 25px;
    height: 20px;
    position: fixed;
    top: 28px;
    left: 20px;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 4;
}
#nav-icon1 span{
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #005d3d;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
    top: 0px;
}
#nav-icon1 span:nth-child(2) {
    top: 8px;
}
#nav-icon1 span:nth-child(3) {
    top: 16px;
}
#nav-icon1.open span:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
#nav-icon1.open span:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/*!
 * Desktop menu animation
 * credits Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    padding: 0px;
    display: none;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
    top: 47%;
    right: 4px;
    left: auto;
    z-index: 4;
    width: 22px;
}
.hamburger:hover {
    opacity: 0.7; }
.hamburger-box {
    width: 100%;
    height: 24px;
    display: inline-block;
    position: relative; }
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 100%;
    height: 1px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
.hamburger-inner::before {
    top: -10px; }
.hamburger-inner::after {
    bottom: -10px; }
.hamburger--arrow.open .hamburger-inner::before {
    transform: translate3d(-5px, 5px, 0) rotate(-45deg) scale(0.7, 1);
}
.hamburger--arrow.open .hamburger-inner::after {
    transform: translate3d(-4px, -4px, 0) rotate(45deg) scale(0.7, 1);
}

/*media queries*/
@media (min-width: 579px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    body{
        overflow-y: hidden; /* this is required */
    }
    .hidden-md-above{
        display:none;
    }
    .mobile-logo-holder {
        left: auto;
        right: 0px;
        width: 20%;
        background-color: transparent;
    }
    .basis-97{
        flex-basis: 97%;
    }
    .hamburger {
        display: inline-block;
    }
    #nav-icon1{
        display: none;
    }
    .body-contents{
        height: 100vh;
        width: 440vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .child-section{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .child-section.about{
        width: 80vw;
    }
    .section-slider{
        display: inline-block;
        width: 200px;
        position: fixed;
        top: auto;
        left: auto;
        right: 0px;
        bottom: 20px;
    }

    /*about section*/
    .about-contents{
        width: 60%;
        order: 2;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .about-contents .cool-line {
        margin: 0px;
    }
    .about-contents h2 {
        font-size: 24px;
        line-height: 36px;
        margin-top: 35px;
        margin-bottom: 30px;
    }
    .about-contents > p {
        font-size: 17px;
        line-height: 23px;
    }
    .about-contents > h2,
    .about-contents > p{
        margin-right: 19%;
        margin-left: 0px;
    }
    .about-title{
        width: 40%;
        order: 1;
        text-align: left;
    }
    .about-title img{
        width: 22%;
        margin-top: 34px;
    }
    .testimonails{
        margin-bottom: 0px;
    }
    .about-title > *,
    .testimonails h2,
    .testimonails .slide-indicator-ul {
        margin-left: 28%;
        margin-right: 14%;
    }
    .slide-indicator-ul li:before {
        left: 7px;
    }
    .testimonails p {
        font-size: 13px;
        line-height: 22px;
    }
    .testimonails h2 {
        font-size: 40px;
        line-height: 20px;
    }
    .testimonails .author {
        font-size: 16px;
    }

    /*company section*/
    .company-title{
        width: 20vw;
        height: 68vh;
    }
    .company-title h2{
        margin-top: 25px;
    }
    .company-details-item{
        height: 76vh;
        border-left: 2px solid #c5c9cd;
        width: 262px;
        padding: 0px 58px;
        text-align: left;
    }
    .company-details-item .details{
        margin-top: 100%;
        max-width: none;
        display: block;
    }
    .company-details-item .details.lift-company h3,
    .company-details-item .details.lift-company a{
        color: #005d3d;
    }
    .company-details-item .details.lift-company p{
        color: #404040;
    }
    .company-details-item .logo-wrapper{
        position: absolute;
        top: auto;
        left: 0px;
        width: 262px;
        bottom: 40px;
        padding: 0px 58px;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
    }

    /*board section*/
    .gallery-details{
        display: none;
    }
    .child-section.board{
        width: 100vw;
        background-color: #f0f0ee;
    }
    .gallery{
        width: 50%;
        height: 100vh;
        padding: 0px;
    }
    .gallery > *{
        margin-left: 20%;
        margin-right: 10%;
    }
    .gallery .title-position{
        display: block;
    }
    .gallery h2{
        font-family: 'NationalLight', Arial, sans-serif;
        color: #005d3d;
        font-size: 30px;
        margin-top: 23.6%;
        text-align: left;
    }
    .gallery h3{
        font-family: 'NationalBook', Arial, sans-serif;
        color: #005d3d;
        font-size: 26px;
        margin-bottom: 14px;
    }
    .gallery p{
        font-size: 14px;
        line-height: 23px;
        font-family: 'Fei', Georgia, serif;
        margin-top: 0px;
        margin-bottom: 6px;
    }
    .gallery h3, .gallery p {
        margin-left: 0px;
        margin-right: 0px;
    }
    .board .details{
        display: block;
        width: 50%;
        height: 100vh;
    }
    .board .details .person-intro{
        margin-top: 23.6%;
    }
    .board .details h3{
        font-family: 'NationalLight', Arial, sans-serif;
        color: #005d3d;
        font-size: 26px;
    }
    .board .details p{
        font-family: 'NationalLight', Arial, sans-serif;
        font-size: 18px;
        color: #404040;
        position: relative;
        letter-spacing: 0.2px;
        line-height: 25px;
    }
    .board .details > *{
        margin-left: 10%;
        margin-right: 17%;
    }

    /*animation classes*/
    .expand-menu{
        -webkit-animation-name: expandMenu;
        animation-name: expandMenu;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .collapse-menu{
        -webkit-animation-name: collapseMenu;
        animation-name: collapseMenu;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .lift-company{
        -webkit-animation-name: liftCompany;
        animation-name: liftCompany;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .dip-company{
        -webkit-animation-name: dipCompany;
        animation-name: dipCompany;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .lift-company{
        -webkit-animation-name: liftCompany;
        animation-name: liftCompany;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .dip-company{
        -webkit-animation-name: dipCompany;
        animation-name: dipCompany;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .sink-line{
        -webkit-animation-name: sinkLine;
        animation-name: sinkLine;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-delay: .1s;
        animation-delay: .1s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .raise-line{
        -webkit-animation-name: raiseLine;
        animation-name: raiseLine;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    /*animations*/
    @-webkit-keyframes expandMenu {
        0% {
            flex-basis: 97%;
        }
        5% {
            flex-basis: 94%;
        }
        60% {
            flex-basis: 95.4%;
        }
        75% {
            flex-basis: 7%;
        }
        80%{
            flex-basis: 2%;
        }
        100% {
            flex-basis: 0%;
        }
    }
    @keyframes expandMenu {
        0% {
            flex-basis: 97%;
        }
        5% {
            flex-basis: 94%;
        }
        60% {
            flex-basis: 95.4%;
        }
        75% {
            flex-basis: 7%;
        }
        80%{
            flex-basis: 2%;
        }
        100% {
            flex-basis: 0%;
        }
    }

    @-webkit-keyframes collapseMenu {
        0% {
            flex-basis: 0%;
        }
        5% {
            flex-basis: 3%;
        }
        60% {
            flex-basis: 2.6%;
        }
        75% {
            flex-basis: 90%;
        }
        80%{
            flex-basis: 95%;
        }
        100% {
            flex-basis: 97%;
        }
    }
    @keyframes collapseMenu {
        0% {
            flex-basis: 0%;
        }
        5% {
            flex-basis: 3%;
        }
        60% {
            flex-basis: 2.6%;
        }
        75% {
            flex-basis: 90%;
        }
        80%{
            flex-basis: 95%;
        }
        100% {
            flex-basis: 97%;
        }
    }

    @-webkit-keyframes liftCompany {
        0% {
            margin-top: 100%;
        }
        20% {
            margin-top: 105%;
        }
        40% {
            margin-top: 100%;
        }
        60% {
            margin-top: 55%;
        }
        80% {
            margin-top: 30%;
        }
        100% {
            margin-top: 25%;
        }
    }
    @keyframes liftCompany {
        0% {
            margin-top: 100%;
        }
        20% {
            margin-top: 105%;
        }
        40% {
            margin-top: 100%;
        }
        60% {
            margin-top: 55%;
        }
        80% {
            margin-top: 30%;
        }
        100% {
            margin-top: 25%;
        }
    }

    @-webkit-keyframes dipCompany {
        from {margin-top: 25%;}
        to {margin-top: 100%;}
    }
    @keyframes dipCompany {
        from {margin-top: 25%;}
        to {margin-top: 100%;}
    }

    @-webkit-keyframes sinkLine {
        0% { transform: translateY(0px); width: 20px; }
        50% { transform: translateY(6px); width: 0px; background-color: #005d3d;}
        100% { transform: translateY(12px); width: 20px; background-color: #005d3d;}
    }
    @keyframes sinkLine {
        0% { transform: translateY(0px); width: 20px; }
        50% { transform: translateY(6px); width: 0px; background-color: #005d3d;}
        100% { transform: translateY(12px); width: 20px; background-color: #005d3d;}
    }

    @-webkit-keyframes raiseLine {
        from { transform: translateY(12px) }
        to { transform: translateY(0px) }
    }
    @keyframes raiseLine {
        from { transform: translateY(12px) }
        to { transform: translateY(0px) }
    }
}
@media (min-width: 1200px) {
    .about-contents h2 {
        font-size: 30px;
        line-height: 42px;
    }
    .about-contents > p {
        font-size: 18px;
        line-height: 26px;
    }
    .about-title > *,
    .testimonails h2,
    .testimonails .slide-indicator-ul {
        margin-left: 33%;
        margin-right: 19%;
    }
    .testimonails p {
        font-size: 14px;
        line-height: 23px;
    }
    .testimonails h2 {
        font-size: 41px;
        line-height: 30px;
    }

    .board .details > *{
        margin-left: 10%;
        margin-right: 29%;
    }
}
@media (min-width: 1600px) {
    .about-contents h2{
        font-size: 34px;
        line-height: 51px;
    }
    .about-contents > p {
        font-size: 20px;
        line-height: 28px;
    }
    .about-title > *,
    .testimonails h2,
    .testimonails .slide-indicator-ul {
        margin-left: 39%;
    }
    .testimonails p {
        font-size: 16px;
        line-height: 27px;
    }
    .testimonails h2 {
        font-size: 54px;
    }
    .testimonails .author {
        font-size: 20px;
    }
}
